<div id="EpicToast" class="toast align-items-center text-white bg-success border-0 position-absolute top-0 end-0 mt-3 me-3" role="alert" aria-live="assertive" aria-atomic="true">
	<div class="d-flex">
		<div class="toast-body">
		Poll has been created successfully!
		</div>
		<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
	</div>
</div>