<header class="p-3 navbar-bg shadow">
	<div class="container">
		<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<a class="navbar-brand" href="/">
				<picture>
					<source type="image/svg+xml" srcset="https://cdn.hackerhero.com/1.1/assets/images/global/hh_logo_beta.svg">
					<img src="https://cdn.hackerhero.com/1.1/assets/images/global/hh_logo_beta.svg"  alt="Hacker Hero Logo">
				</picture>
			</a>
		</div>
	</div>
</header>
