<%- include('includes/head')%>
    <body>
        <%- include('includes/nav')%>
        
        <section>
            <h1>One-Link Instant Live Polls</h1>
            <h3>Create multiple polls with one link and see results in real-time.</h3>
            <a href="/poll_create" class="btn btn-primary my-3">Get Started</a>

            <div class="container">
                <img src="./img/people.svg" class="img-fluid hero-img mt-4" alt="People Illustration">
            </div>
        </section>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    </body>
</html>